/* Hide scrollbar for Chrome, Safari and Opera */
#parentsection::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#parentsection {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#parentsection {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 1220px;
  height: calc(100% - 200px); /* 100% of the viewport height - height of the footer */
  overflow-y: scroll;
  padding: 20px;
  z-index: 10;
}

.sectionbody {
  margin: 0px auto;
  position: relative;
}
  
  #img {
    height: 70px;
    width: 70px;
  }
  
  .strip {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .innerstrip {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .innerstrip > div > img {
    border: none;
  }
  
  .innerstriptext {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .strip > div > h5, .strip > div > div >h5 {
    font-weight: normal;
  }