.homeContent {
  position: relative;
  width: 1220px;
  /* height: 100vh; */
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 140px;

  z-index: 10;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.homeContentText {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.homeContent > div:first-child {
  display: flex;
  width: 1220px;
  justify-content: space-between;
  align-items: center;
}

.homeContentText h4 {
  color: #f00;
  font-weight: 700;
}

.gridContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gridItem {
  padding: 10px 0px;
}

.gridItemTitle > h6 {
  padding: 10px 0px;
  font-weight: 700;
}
