#supernav {
  position: relative;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
}

nav {
  margin: 0 auto;
  width: 1220px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; /* Align items to their baseline */
  justify-content: space-between;
  gap: 25px;
}

nav h6 {
  font-weight: 700;
}

#siteTitle {
  color: #f00;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 40px;
}

nav > div:last-child {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-self: end;
}

nav > div:last-child > div {
  height: 18px;
  width: 18px;
  line-height: 1;
}


#subNav {
  margin: 0 auto;
  width: 1220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#subNav h6 {
  font-weight: 700;
}