.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 25px;
}

#supernav {
  position: relative;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.flex > div:last-child {
  display: flex;
  align-items: center;
  gap: 40px;
}