/* Hide scrollbar for Chrome, Safari and Opera */
#parentsection::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#parentsection {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#parentsection {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1220px;
    height: calc(100% - 200px);
    /* 100% of the viewport height - height of the footer */
    overflow-y: scroll;
    padding: 20px;
    z-index: 10;
}

.sectionbody {
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.plainskillrow {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.plainskillrow>div {
    padding: 5px 10px;
    border-radius: 100px;
    border: 0.2px solid rgba(0, 0, 0, 0.50);
    background: #F4F4F4;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 500px;
}

.card>img {
    width: 500px;
    height: 370px;
    border-radius: 10px;
    border: 0.2px solid rgba(0, 0, 0, 0.50);
    background: #F4F4F4;
    object-fit: cover;
}

.card>h5,
.card>div>div:first-child>h5 {
    font-weight: 600;
}

.certficaionSubtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

#projectgrid {
    display: inline-grid;
    row-gap: 80px;

    width: 1080px;
    grid-template-columns: repeat(2, auto);

    justify-content: space-between;
}

.pagiation {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}