body {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #F5F5F5;
}

* {
  font-family: 'Epilogue', sans-serif;
  line-height: 1;
}

.subbody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1220px;
  padding: 0px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  z-index: 1 !important;
}

h1 {
  margin: 0px;
}

h3 {
  font-size: 18px;
  margin: 0px;
}

h4 {
  font-size: 14px;
  line-height: 1;
  margin: 0px;
  font-weight: normal;
}

h5 {
  font-size: 14px;
  line-height: 1.5;
  margin: 0px;
  font-weight: normal;
}

h6 {
  font-size: 12px;
  line-height: 1;
  margin: 0px;
  font-weight: normal;
}

p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0px;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

.material-symbols-outlined {
  font-size: 18px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.symbols {
  font-size: 18px;
}

.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.unfilled {
  background-color: #E0E0E0;
  border-radius: 50%;
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 48
}

hr {
  height: 1px;
  background-color: #e6e6e6;
  border: none;
  width: 100%;
  margin: 10px 0px;
}

.navIcon {
  font-size: 18px;
}